
    <!-- Geekring widget #1 - simple links -->
    <div style="text-align: center;">
    <b>This site is a proud member of the geekring! Check some other geeky websites here!</b><br>
     <img src="http://geekring.net/banner/geek_1.jpg" alt="geekring.net nvigation" usemap="#geekringmap">
     <map name="geekringmap">
         <area shape="rect" coords="9,28,111,53" alt="Previous geekring site" href="http://geekring.net/site/45/previous">
         <area shape="rect" coords="248,28,350,53" alt="Random geekring site" href="http://geekring.net/site/45/random">
         <area shape="rect" coords="490,28,592,53" alt="Next geekring site" href="http://geekring.net/site/45/next">
         <area shape="rect" coords="465,6,566,22" alt="Main geekring site" href="http://geekring.net/">
     </map>
    </div>

